<% content_for :template_js do %>
  <%= javascript_include_tag "checkmac" %>
<% end %>
<div data-role="header">
  <h1><%= @course.title %></h1>
  <a href="#" onclick="location='http://wifi.smbiztalk.cn/hotapp';"  data-icon="back" class="ui-btn-right">下载应用</a>
</div>

<div data-role="content" data-theme="a" >
  <div class="article" >
    <p><%= image_tag @course.poster_url %></p>
    <h2><%= @course.title %></h2>
    <p><%= @course.description %></p>
  </div>
  <br>
  <% if @user.weibo == true %>
    <%= render "weibo"  %>
  <% end %> 
  <% if @user.game == true %>
    <%= render "game"  %>
  <% end %>
  <br />
  <br />
</div>
