<%= form_for(@message, :url=>"/example")  do |f| %>

  <%= f.hidden_field :user_id %>
  <dl class="form">
    <dt> <%= f.label "消息标题" %> </dt>
    <dd> <%= f.text_field :title, :class => "short"  %> </dd>
  </dl>
  <dl class="form">
    <dt>
      <%= f.label "消息内容" %>
    </dt>
    <dd>
      <%= f.text_area :content, :size => "14x4" %>
    </dd>
  </dl>
  <br>
  <div>
    <%= submit_tag "群发消息", :class => "button primary" %>
    <span id="edit-course-delete">
      <%= link_to "返回", :root  %>
    </span>
  </div>
<% end %>
